<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/style.css' %}">
    <title>Favorite Books</title>
</head>
<body>   
    <div class="container">
        <nav class="navbar">
            <h3 class="nav-item navbar-text">Welcome, {{ user.first_name}}!</h3>
            <div class="nav navbar-right">
                <a href="/books/my_faves" class="nav-item nav-link">My Favorites</a>
                <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
        </nav>

        <div class="dashboard">
        
            <form class="col-5" action="/books/new" method="post">
                {% csrf_token %}
                <fieldset>
                    <legend>Add a Favorite Book</legend>
                </fieldset>

                {% if messages%}
                    {% for message in messages %}
                    <p class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} py-1 my-1" role="alert">
                        {{ message }}
                    </p>
                    {%  endfor %}
                {% endif %}

                <div class="form-group">
                    <label for="title">Title</label>
                    <div class="message"></div>
                    <input type="text" class="form-control" name="title" id="title">
                </div>
    
                <div class="form-group">
                    <label for="description">Description</label>
                    <div class="message"></div>
                    <input type="text" class="form-control" name="description" id="description">
                </div>

                <button type="submit" class="btn btn-primary mb-2">Add</button>
            </form>  

            <div class="col-5 book-list">
                <h3>All Books:</h3>

                {% for book in books %}
                <div class="book">
                    <p class="my-0 py-0">
                        <a href="/books/{{ book.id }}">{{ book.title }}</a>
                    </p>
                    <p class="my-0 py-0">
                        (added by {% if book.uploaded_by.id == user.id %}you{% else %}{{ book.uploaded_by.full_name }}{% endif %})
                    </p>
                    <p class="mt-0 pt-0">
                        {% if book in user.liked_books.all %}
                        <span class="favorite-book">this is one of your favorites</span>
                        {% else %}
                        <a href="/books/{{ book.id }}/favorite">Add to Favorites</a>
                        {% endif %}
                    </p>
                </div>
                {% endfor %}
            </div> <!-- div.book-list-->
        </div> <!-- div.dashboard-->

    </div> <!-- div.container-->

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>