<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'jobs/style.css' %}">
    <title>Favorite Books</title>
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <h3 class="nav-item navbar-text">Welcome, {{ user.first_name}}!</h3>
            <div class="nav navbar-right">
                <a href="/books" class="nav-item nav-link">Dashboard</a>
                <a href="/books/my_faves" class="nav-item nav-link">My Favorites</a>
                <a href="/logout" class="nav-item nav-link">Logout</a>
            </div>
        </nav>

        <div class="row">

            <div class="col-6">                        
                {% if mode == 'edit' %}

                {% if messages%}
                    {% for message in messages %}
                    <p class="alert {% if 'error' in message.tags %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} py-1 my-1" role="alert">
                        {{ message }}
                    </p>
                    {%  endfor %}
                {% endif %}

                <form method="POST" action="/books/{{ book.id }}/update">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <div class="message"></div>
                        <input type="text" class="form-control" name="title" id="title" value="{{ book.title }}">
                    </div>
        
                    <div class="form-group">
                        <label for="uploaded-by">Added by:</label>
                        <span id="uploaded-by">{{ book.uploaded_by.full_name }}</span>
                    </div>
        
                    <div class="form-group">
                        <label for="created-at">Added on:</label>
                        <span id="created-at">{{ book.created_at|date:'N j, Y @ P' }}</span>
                    </div>
        
                    <div class="form-group">
                        <label for="updated-at">Last updated on:</label>
                        <span id="updated-at">{{ book.updated_at|date:'N j, Y @ P' }}</span>
                    </div>
        
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <div class="message"></div>
                        <textarea class="form-control" name="description" id="description">{{ book.description }}</textarea>
                    </div>
        
                    <br>
                    <button type="submit" class="btn btn-primary mb-2" name="submit">Update</button>
                    <a href="/books/{{ book.id }}/delete" class="btn btn-danger mb-2"role="button">Delete</a>
                </form>   
                {% else %}
                <div>
                    <h3>{{ book.title }}</h3>        
                    <p>
                        <span>Added by:</span>
                        <span id="uploaded-by">{{ book.uploaded_by.full_name }}</span>
                    </p>
        
                    <p>
                        <span>Added on:</span>
                        <span id="created-at">{{ book.created_at|date:'N j, Y @ P' }}</span>
                    </p>
        
                    <p>
                        <span>Last updated on:</span>
                        <span id="updated-at">{{ book.updated_at|date:'N j, Y @ P' }}</span>
                    </p>

                    <p>
                        <span>Description:</span>
                        <span id="description">{{ book.description }}</span>
                    </p>        
                </div>
                {% endif %}     
            </div>


            <div class="likes col-5">
                <h3>Users who like this book:</h3>
                <ul>
                    {% for liker in book.users_who_like.all %}
                    <li>{{ liker.full_name }}{% if liker.id == user.id %} <a href="/books/{{ book.id }}/unfavorite">Un-Favorite</a>{% endif %}</li>
                    {% endfor %}
                </ul>
                {% if user not in book.users_who_like.all %} <a href="/books/{{ book.id }}/favorite">Add to Favorites</a>{% endif %}
            </div>
        </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <script src="{% static 'main.js' %}"></script>
</body>
</html>